/* .header {
  width: 100%;
  max-height: 74px;
  background: #202020;
} */
.header__land-logo-link{
  transition:  0.5s;
}
.header__land-logo-link:hover{
  opacity: 0.5;
}
.header__land-container {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;

  color: #ffffff;
  max-width: 1140px;
  margin: 0 auto;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content:space-evenly; */
  align-items: center;
}
.header__land-login {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  height: 34px;
}

.header__land-link {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  /* text-align: right; */
  text-decoration: none;
}

.header__land-reg-link {
  color: #ffffff;
  transition:  0.5s;
}
.header__land-reg-link:hover {
  opacity: 0.5;
}

.header__land-enter-link {
  background: #3ddc84;
  color: #000000;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  transition:  0.5s;
}
.header__land-enter-link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .header__land-container {
    max-width: 728px;
    padding: 18px 30px;
    list-style: none;
    
  }
  .header__land-login {
    font-size: 12px;
    line-height: 16px;
    list-style: none;
  }

}
@media screen and (max-width: 400px) {
  .header__land-container {
    max-width: 292px;
    padding: 18px 14px;
  }
  .header__land-login {
    font-size: 10px;
    line-height: 16px;
  gap: 22px;
  align-items: center;
  }
  .header__land-reg-link {
    width: 56px;
    height: 26px;
    line-height: 26px;
  }
  .header__land-enter-link {
    width: 56px;
    height: 26px;
    line-height: 26px;
  }
  .header__land-link {
    font-size: 10px;
    line-height: 22px;
  }

}
