.portfolio {
  padding: 104px 70px 120px;
}

.portfolio__text {
  margin: 0 0 52px;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__block {
  margin: 0;
  padding: 0;
  height: 230px;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__site {
  height: 50px;
  padding-bottom: 12px;
  border-bottom: 1px solid #424242;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__site:last-child {
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.portfolio__link {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;

  display: flex;
  justify-content: space-between;

  width: 100%;
  text-decoration: none;
  transition: 0.5s;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__name {
  margin: 0;
}

.portfolio__icon {
  line-height: 60px;
}

@media (max-width: 800px) {
  .portfolio {
    padding: 0 50px 92px;
  }

  .portfolio__text {
    margin-bottom: 52px;
  }

  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__icon {
    height: 50px;
    width: 27px;
  }
  .portfolio__site {
    padding-bottom: 18px;
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding: 70px 14px;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding: 10px 14px 52px;
  }

  .portfolio__text {
    font-size: 14px;
    margin-bottom: 42px;
  }
  .portfolio__site {
    height: 48px;
    padding-bottom: 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
    margin-right: -5px;
  }

  .portfolio__block {
    height: 184px;
  }
}
