/* .movies {
  padding: 80px 70px 220px;
} */

/* @media (max-width: 1279px) {
.movies {
  padding: 80px 70px 220px;
}
} */

/* @media (max-width: 1279px){
.movies {
    padding: 79px 14px 175px;
}
} */

/* @media (max-width: 400px){
  .movies {
      padding: 79px 14px 92px;
  }
  } */