.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 18px 0;
  border-radius: 6px;
  background: #202020;

  /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08); */
}
button{
  margin: 0;
  padding: 0;
  border: 0;
}
.movie__container{
  position: relative;
}

.movie__button {
  opacity: 0;
  /* display: none; */
  /* visibility: hidden; */
  cursor: pointer;
  position: absolute;
  top:14px;
  right: 14px;;
  border: none;
}
.movie__button_like {
  
  opacity: 1;
  /* display:block; */
  background: url(../../../images/like.svg) center no-repeat;
  min-width: 21px;
  height: 21px;
  cursor: pointer;
  /* background-color: #ee3465; */
}

.movie__button_save{
  opacity: .8;
  /* display:block; */
  min-width: 100px;
  height: 29px;
  border-radius: 30px;
  background: #313131;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  cursor: pointer;
}
.movie__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 18px; */
  gap: 14px;
  width: 100%;
  
  height: 18px;
}

.movie__name {
  margin: 0;
  margin-left: 14px;

  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  /* padding-left: 14px; */
}

.movie__time {
  margin: 0;
  /* padding-right: 14px; */
  margin-right: 14px;

  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  /* min-width: max-content; */
  border-radius: 3px;
  background: #2f2f2f;
  /* height: 18px; */
  width: 52px;
}

.movie__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}



@media (max-width: 800px) {
  .movie {
    padding: 25px 0;
  }

  .movie__image {
    height: 190px;
  }
}

@media (max-width: 400px) {
  .movie {
    padding: 14px 0;
    gap: 14px;
  }

  .movie__name {
    font-size: 12px;
    padding-left: 12px;
  }

  .movie__time {
    font-size: 10px;
    padding-right: 12px;
  }

  .movie__image {
    height: 168px;
  }
}
